html,body,#root {
  
  height: 100%;
  width: 100%;
  background-color: #d4ebf2;
 
}



#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#package {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  flex-wrap: wrap;
  height: 90%;
  width: 100%;
}

#tour-package {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 700px;
  width: 400px;
  border: 1px solid black;
  
}


img {
  position: relative;
  height : 300px;
  width: 400px;
}

#price {
 position: absolute;
 color: skyblue;
 height: 30px;
 width: 80px;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: aliceblue;
 margin-left: 23%;
}

#name {
  font-weight: bold;
  letter-spacing: 2.5px;
  margin : 6%;
}

#info {
  margin : 8%;
}


#read-more {
  font-weight: bold;
  border: none;
  background: transparent;
}

#refresh {
  height: 60px;
  width: 200px;
  border-radius: 10px;
  background-color: blanchedalmond;
  font-size: 20px;
  
}


